## Visual Studio / .NET Standard Ignore
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## React / Node.js Ignore
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Binaries & Certificates (Zero Secrets in Git)
*.pfx
*.pem
*.key
Certs/
mediamtx.exe
/ITB-SCREEN-RECORDER.Server/publish
/Publish
/ITB-SCREEN-RECOREDER-AGENT/publish-agent
/ITB-SCREEN-RECOREDER-AGENT/Properties/PublishProfiles
/ITB-SCREEN-RECORDER.Server/Properties/PublishProfiles
/ITB-SCREEN-RECORDER.AgentWorker/ffmpeg.exe
/ITB-SCREEN-RECORDER.AgentWorker/ffmpeg.exe
