// SCSS Variables
$text: #6b6375;
$text-h: #08060d;
$bg: #fff;
$border: #e5e4e7;
$code-bg: #f4f3ec;
$accent: #aa3bff;

$font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
$font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
$font-mono: ui-monospace, Consolas, monospace;

:root {
    // CSS Variables for dynamic support (e.g. Dark Mode)
    --text: #{$text};
    --text-h: #{$text-h};
    --bg: #{$bg};
    --border: #{$border};
    --code-bg: #{$code-bg};
    --accent: #{$accent};
    // SCSS generated transparent colors
    --accent-bg: rgba($accent, 0.1);
    --accent-border: rgba($accent, 0.5);
    --social-bg: rgba($code-bg, 0.5);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --sans: #{$font-sans};
    --heading: #{$font-heading};
    --mono: #{$font-mono};
    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // Responsive Media Query
    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

// Global Resets
html,
body,
#app,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}
